<div id="character-{{_id}}-coins" class="flex-horizontal">

  <div id="character-{{_id}}-coins-hands">
    <div class="stripe">
      <!--<label for="coins-{{_id}}-hands-0"><b>{{localize "BITD.Coin"}}</b>
        <i class="fab fa-creative-commons-zero nullifier"></i></label>-->
		<b>{{localize "BITD.Coin"}}</b>
    </div>
    <div class="coins coins-hands">
      {{#multiboxes system.coins}}
      <input type="radio" id="coins-{{_id}}-hands-0" name="system.coins" value="0" checked="checked">
	  {{#times_from 1 system.coins_max.hand}}
		  <input type="radio" id="coins-{{_id}}-hands-{{this}}" name="system.coins" value="{{this}}">
		  <label class="radio-toggle" for="coins-{{_id}}-hands-{{this}}"></label>
      {{/times_from}}
      {{/multiboxes}}
    </div>
  </div>

  <div id="coins-{{_id}}-coins-stashed" style="padding-left: 8px;">

    <div class="stripe">
      <!--<label for="coins-{{_id}}-stashed-0">{{localize "BITD.Stash"}} <i
              class="fab fa-creative-commons-zero nullifier"></i></label>-->
			  <b>{{localize "BITD.Stash"}}</b>
    </div>
    <div class="coins coins-stashed">
      {{#multiboxes system.coins_stashed}}
      <input type="radio" id="coins-{{_id}}-stashed-0" name="system.coins_stashed" value="0" checked="checked">
	  {{#times_from 1 system.coins_max.stash}}
		  <input type="radio" id="coins-{{_id}}-stashed-{{this}}" name="system.coins_stashed" value="{{this}}">
		  <label class="radio-toggle" for="coins-{{_id}}-stashed-{{this}}"></label>
	  {{/times_from}}
      {{/multiboxes}}
    </div>

  </div>

</div>